<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAWvua3Ymw9G2bDVMW7wE-NmRmKIJlcu9o</string>
	<key>GCM_SENDER_ID</key>
	<string>797665178121</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.SNRSs.Eggong</string>
	<key>PROJECT_ID</key>
	<string>macc-eggong</string>
	<key>STORAGE_BUCKET</key>
	<string>macc-eggong.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:797665178121:ios:a3083342ac7c5e0759fed8</string>
</dict>
</plist>